.loading-spinner {
    left: 48%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 9999;
    height: 64px;
    width: 64px;
}
.profile-image {
    width: 48px;
    height: 48px;
}
