<h2>Select your search criteria:</h2>
<hr />
<table cellpadding="3" cellspacing="3" class="table-responsive">
    <tr style="padding-top: 5px;">
        <td width="20">&nbsp;</td>
        <td width="50" class="control-label">Name:</td>
        <td width="200"><input class="form-control" name="name" #firstName [(ngModel)]="search.name"></td>
        <td width="10px">&nbsp;</td>
        <td width="200">
            <button class="btn btn-primary pull-right" style="width:200px;" (click)="searchPeople()">Search</button>
        </td>
    </tr>
    <tr style="padding-top: 5px;">
        <td colspan="3">&nbsp;</td>
    </tr>
</table>
<div *ngIf="isSearching" class="loading-spinner"><img src="/images/loader.gif" width="48" height="48" /></div>
<div *ngIf="people">
    <hr />
    <div>
        <div class="pull-left" style="padding: 5px 5px 5px 5px; margin-left: 1%">
            <span class="">Search Results</span>
        </div>
    </div>
    <div class="">
        <table cellspacing="5" cellpadding="5" class='table' style="border:1px solid black; padding: 5px 5px 5px 5px;">
            <thead style="">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Interests</th>
                    <th>Age</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ppl of people">
                    <td>{{ ppl.id }}</td>
                    <td>{{ ppl.firstName }}</td>
                    <td>{{ ppl.lastName }}</td>
                    <td>{{ ppl.address }}</td>
                    <td>{{ ppl.city }}</td>
                    <td>{{ ppl.state }}</td>
                    <td>{{ ppl.zip }}</td>
                    <td>{{ ppl.interests }}</td>
                    <td>{{ ppl.age }}</td>
                    <td><img src="{{ getImageFullFilePath(ppl.profileImage) }}" class="profile-image" /></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="people.length == 0" style="padding-bottom: 20px;">
            <b>Sorry no results matched your search</b>
        </div>
    </div>
</div>
